<html>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body class="Gradient">
<div style="background-size: cover; background-image: url('{% static "IndexBackground1.jpg" %}'); min-height: 700px">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between Menu">
            <h3 class="Logo">MetaShorts</h3>
            <a class="py-2 d-none d-md-inline-block MenuItem" href="#">Общая информация</a>
            <a class="py-2 d-none d-md-inline-block MenuItem" href="#">Рекламодателям</a>
            <a class="py-2 d-none d-md-inline-block MenuItem" href="#">Блогерам</a>
        </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center TransparentContainer">
        <div class="col-md-5 p-lg-5 mx-auto my-5 TransparentContainer ">
            <h1 class="display-4 font-weight-normal Header Logo">MetaShorts:</h1>
            <p class="lead font-weight-normal  Stats" style="color: white">Зарабатывай на игровом
                контенте!</p>
            <a class="btn PrimaryButton Logo" style="color: white; border-color: white" href="/watch/">Начать</a>
            <a class="btn   PrimaryButton Logo" style="color: white; border-color: white" href="#DiveIn">Подробнее</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

</div>
<div id="DiveIn" style="background-size: cover; background-image: url('{% static "IndexBackground2.jpg" %}'); min-height: 900px">

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h2 class="display-5 Header">О площадке</h2>
                <p class="lead">MetaShorts — это DAO,</p>
                <p class="lead">в центре которой — видеоконтент,</p>
                <p class="lead">посвященный играм.</p>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2 class="display-5 Header">Пользователям</h2>
                <p class="lead">Любая активность — комментарии, лайки,</p>
                <p class="lead">дизлайки, — все тебе возможность заработать</p>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2 class="display-5 Header">Блогерам</h2>
                <p class="lead">Ваш контент — ваши решения</p>
                <p class="lead">ваши решения: полная свобода</p>
                <p class="lead">в рамках разумного</p>
            </div>
        </div>
        <div class="row" style="margin-top: 100px"></div>
        <div class="row">
            <div class="col-sm">
                <h2 class="display-5 Header">Токен</h2>
                <p class="lead"><a href="https://testnet.bscscan.com/address/0x7EB9781115c13f47cdE58751289dFA24f717Fa91">$MSHRT</a> является и валютой платформы,</p>
                <p class="lead">и возможностью влиять на платформу</p>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2 class="display-5 Header">Единый токен</h2>
                <p class="lead">Покупайте, продавайте рекламу,</p>
                <p class="lead">Зарабатывайте за активность на площадке,</p>
                <p class="lead">голосуйте, влияйте на будущее</p>
                <p class="lead">MetaShorts</p>
                <p class="lead"></p>
            </div>
        </div>
    </div>
    <div class="text-center">
         <a class="btn PrimaryButton Logo" style="color: white; border-color: white" href="/blogger_cabinet/"> Кабинет блогера</a>
            <a class="btn   PrimaryButton Logo" style="color: white; border-color: white" href="/advertiser_cabinet/">Кабинет рекламодателя</a>
            <a class="btn   PrimaryButton Logo" style="color: white; border-color: white" href="/marketplace/">Маркетплейс</a>
    </div>

</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js">

</script>
</html>